
@use 'variables' as v;
@use 'mixins' as m;

header{
    // flex: 1 1 50%;
    padding: 0 24px;
    padding-top: 32px;
    padding-bottom: 37px;
    background-color: #fff;
    @include m.breakpoints-up(large){
        padding: 46px 0;
        padding-right: 67px;
        padding-left: 42px;
        max-width: 637px;
        height: 246px;
    }
}

.header{
    h1{
        margin-bottom: 29px;
        font-size: 21px;
        color: v.$cl-primary-cyan;
        @include m.breakpoints-up(large){
            margin-bottom: 28px;
        }
    }

    &__subtitle{
        margin-bottom: 26px;
        padding-right: 19px;
        font-size: 1rem;
        font-weight: 700;
        color: v.$cl-primary-br-yellow;
        line-height: 22px;
        @include m.breakpoints-up(large){
            margin-bottom: 28px;
        }
    }

    &__description{

        color: v.$cl-neutral-gry-blue;
        line-height: 27px;
    }
}