@use 'variables' as v;
main{
    padding: 0 24px;
    padding-top: 28px;
    padding-bottom: 24px;
    background-color: #2BB3B1;
}

.main{
    &__header{
        margin-bottom: 22px;
        color: v.$cl-neutral-lt-gray;
    }
    
    &__price{
        margin-bottom: 1rem;
        font-weight: 300;
        color: hsla(204, 43%, 93%,0.7);
    }

    &__dollar{
        margin-right: 10px;
        font-size: 29px;
        font-weight: 700;
        color: white;
    }

    &__description{
        margin-bottom: 34px;
        color: v.$cl-neutral-lt-gray;
    }
}

.button{
    border: none;
    border-radius: 5px;
    width: 100%;
    height: 48px;
    font-size: 1rem;
    font-weight: 700;
    color: white;
    background-color: v.$cl-primary-br-yellow;
    
}